<!-- Pagina responde pregunta UEAS-->
<div class="container">
  <div class="card">
    <div class="card-body" align="center">
      <h2>Buscar UEA por salon y dia</h2>
      <% form_tag :action => 'about' do %>
        <%= text_area :myform, :comments, :cols => '40', :rows => '5' %>
        <%= submit_tag "Submit" %>
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h2>Buscar UEA por palabra</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2>Buscar UEA por dia y hora</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2>Buscar UEA que pertenezcan aun tronco</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2>Consulta los creditos de una UEA </h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2>Consulta los creditos de las UEAs por Area de concentración </h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2>Claves de UEAs de un Area de concentración </h2>
    </div>
  </div>
</div>