<!-- Pagina responde pregunta Profesor-->
<div class="container">
  <div class="card">
    <div class="card-body">
      <h2>En que salon se encuentra un profesor</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2>Horario de un profesor</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2>Profesores que imparte una materia</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2>Cubiculo de profesor y asesorias</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2>Profesores que dan asesoria de una UEA y en que horario los puedo encontrar </h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2>Profesores que pertenecen a un Departamento</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2>Claves de UEAs de un Area de concentración </h2>
    </div>
  </div>
</div>