<div class="center jumbotron">
  <h1>Bienvenido </h1>

  <h2>
    Aqui Podras consultar informacion de profesores o UEA's
  </h2>

  <%= link_to "Profesores", profesor_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "UEAs",ueas_path, class: "btn btn-lg btn-primary" %>
</div>
