<header class="navbar navbar-fixed-top navbar-inverse" style="background-color:#CD032E ">
  <div class="container" style="background-color: #CD032E">
    <%= link_to "Logo UAM", '#', id: "logo" %>
    <img src="app/assets/images/uam.jpg">
    <nav>
      <ul class="nav navbar-nav navbar-right" >

      </ul>
    </nav>
  </div>
</header>